<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">ORDER</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/staff-list">Danh sách Order</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">PRODUCT</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/inventory">Quản lý sản phẩm</a></li>
                    <li><a href="/">Thống kê</a></li>
                </ul>
            </li>
        </ul>
    
        <div class="add-menu-sidebar">
            <img src="images/icon1.png" alt=""/>
            <p>XIN CHÀO QUẢN LÝ </p>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->